<div class="contact-container">
    <div class="content">

        <h1>Contact Us</h1>
        <br>
        <p>We're Here to Help!
            At PetCare, we value your feedback and are here to assist you with any questions or concerns you may have. Whether you need support with our app, 
            have inquiries about our services, or simply want to share your experience, we'd love to hear from you!
        </p>
        
        <div>
            <h2>Get in Touch</h2>
            <strong>Email Us:</strong>
            <p>
                For general inquiries, support, or feedback, please reach out to us at:
                <br>
                contact&#64;petcare.com
            </p>
    
            <strong>Call Us:</strong>
            <p>
                <strong>Prefer to speak with someone directly? Give us a call at:</strong>
                <br>
                (123) 456-7890
                <br>
                Our customer support team is available Monday to Friday, 9 AM - 5 PM (EST).
            </p>
           
            <strong>Visit Us:</strong>
            <p>
                If you're in the area and would like to meet our team, feel free to visit us at:
                <br>
                PetCare Headquarters
                <br>
                123 Pet Lane ST
                <br>
                Omaha, Ne 12345
            </p>
    
    
            <strong>Follow Us</strong>
            <br>
            <p>
                Stay connected and follow us on social media for the latest updates, tips, and pet care advice!
                <br>
                <a href="https://www.facebook.com">Facebook: facebook.com/petcare</a>
                <br>
                <a href="https://www.instagram.com/">Instagram: instagram.com/petcare</a>
                <br>
                <a href="https://x.com/">Twitter: twitter.com/petcare</a>
                <br>
                Feedback
                <br>
                Your opinion matters to us! If you have suggestions on how we can improve our app or services, please let us know. We are always looking for ways to enhance your experience.
                <br>
                <br>
                <strong>Thank You!</strong>
                <br>
                Thank you for choosing PetCare! We look forward to hearing from you and assisting you in providing the best care for your furry friends.
    
            </p>
        </div>

    </div>
   
    
</div>
