<div class="app-container">
    <div class="text-column">
        <h1>About Us</h1>
        <br>
        <h2>Welcome to PetCare!</h2>
        <br>
        <p>
            At PetCare, we believe that every pet deserves the best care possible. Our mission is to provide pet owners with a comprehensive, user-friendly veterinary application that enhances the health and well-being of their beloved companions. Whether you’re a first-time pet owner or a seasoned pro, our app is designed to make veterinary care accessible, efficient, and stress-free.
        </p>
        <br>
        <h3>Our Story</h3>
        <p>
            Founded by a team of passionate veterinarians and pet enthusiasts, PetCare was born out of a desire to bridge the gap between pet owners and veterinary professionals. We understand that managing your pet’s health can be overwhelming, with appointments, medications, and health records to keep track of. That’s why we created an all-in-one solution that simplifies the process and empowers pet owners to take charge of their pets’ health.
        </p>

        <h3>Our Mission</h3>

        <p>
            PetCare, our mission is to:
        </p>

        <p> 
            
            <strong>Enhance Pet Health: </strong> We strive to provide tools and resources that help pet owners monitor and manage their pets' health effectively.
            <br>
            <strong>Foster Communication: </strong> We aim to improve communication between pet owners and veterinary clinics, ensuring that you have all the information you need at your fingertips.
            <br>
            <strong>Promote Education: </strong> We believe in the power of knowledge. Our app offers educational resources to help you understand your pet's needs and make informed decisions about their care.
        </p>
        <br>
        <h3>What We Offer</h3>
        
        <p>
            <strong>Scheduling: </strong>Appointment Easily book appointments with your preferred veterinary clinic, receive reminders, and manage your schedule all in one place.
            <br>
            <strong>Health Records Management: </strong> Keep all your pet's health records organized and accessible, including vaccination history, medications, and treatment plans.
            <br>
            <strong>Medication Reminders: </strong> Never miss a dose again! Our app sends you reminders for medications and treatments, ensuring your pet stays on track.
            <br>
            <strong>Telemedicine Services: </strong> Access veterinary advice from the comfort of your home with our telemedicine feature, allowing you to consult with professionals when you need it most.
            <br>
            <strong>Educational Resources: </strong> Explore a wealth of articles, videos, and tips on pet care, nutrition, and training to help you provide the best for your furry friends.
        </p>
        <br>
        <h3>Our Team</h3>
        <p>
            Our dedicated team consists of experienced veterinarians, pet care specialists, and technology experts who are committed to improving the lives of pets and their owners. We are passionate about animals and work tirelessly to ensure that PetCare meets the highest standards of quality and reliability.

            Join the PetCare Community
            We invite you to join the PetCare community and experience the difference our application can make in your pet's life. Together, we can ensure that your furry family members receive the love and care they deserve.

            Thank you for choosing PetCare! We look forward to supporting you and your pets on this journey to better health and happiness.

            For any questions or feedback, feel free to reach out to us at yourpetcare&#64;omaha.com.
        </p>
    </div>

    <!-- <div class="d-flex" style="height: 200px;">
        <div class="vr"></div>
    </div> -->

    <div class="image-column">
        <img class="docAndCat" src="docAndCat.jpeg" alt="docAndCat">
        <img class="docAndDog" src="docAndDog.jpeg" alt="docAndDog">
        <img class="docAndRabbit" src="docAndRabbit.jpeg" alt="docAndRabbit">
    </div>
</div>

